:root {
    --main-border: solid #c2c2c2 1px;
    --main-padding: 20px 10px;
    --input-border: solid #a2a2a2 1px;
}

html, body {
    height: 100%;
}

.wrapper {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.link {
    color: #5c5c5c;
    text-decoration: none;
}

.wrapper__header {
    height: 65px;
    flex-shrink: 0;
}

.header {
    background-color: white;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header__left {
    display: flex;
}

.header__logo {
    width: 160px;
    margin-right: 16px;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.top-nav__page {
    align-items: center;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.theme-switcher__icon {
    height: 16px;
}

.theme-switcher__btn {
    border: none;
    background-color: white;
    color: #4E4E4E;
    padding: 0;
    border-radius: 5px;
}

.header__search-input {
    border: var(--input-border);
    border-radius: 25px;
    height: 25px;
}

.btns__log-in {
    font-weight: 500;
    color: #4E4E4E;
}

.btns__sign-up {
    background-color: black;
    color: white;
    height: 32px;
    border-radius: 5px;
    margin-left: 10px;
}

.wrapper__breadcrumbs {
    height: 25px;
}

.breadcrumbs {
    background-color: #f9f9fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4E4E4E;
    border-bottom: var(--main-border);
    position: fixed;
    top: 66px;
    width: 100%;
}

.breadcrumbs__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.breadcrumbs__language-switcher {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.wrapper__main {
    padding: 100px 10px;
    flex-grow: 1;
}

.main {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.main__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 50px;
}

.main__shared-aside {
    border-right: var(--main-border);
    flex: 1;
}

.shared-aside__filter {
    height: 25px;
    border: var(--input-border);
    border-radius: 25px;
    color: #a2a2a2;
    text-align: center;
    margin-bottom: 32px;
}

.shared-aside__page {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 32px;
}

.main__main-content {
    line-height: 30px;
    flex: 3;
}

.main-content__title {
    font-size: 40px;
    font-weight: 600;
}

.main-content__subtitle {
    font-size: 30px;
    font-weight: 500;
}

.main-content__info {
    margin-bottom: 32px;
}

.main__local-aside {
    flex: 1;
}

.local-aside__title {
    font-weight: 300;
    letter-spacing: 1.5px;
}

.local-aside__page {
    display: block;
    border-left: 2px solid #cdcdcd;
    padding: 8px 16px;
}

.footer__footer-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: var(--main-border);
    padding: 32px 0;
    margin: 0 16px;
}

.main-info__mdn {
    color: rgb(73, 73, 73);
    font-size: 26px;
    font-weight: 700;
}

.main-info__icons {
    margin-top: 15px;
}

.news__title {
    color: #4E4E4E;
    font-size: 18px;
    font-weight: 400;
}

.news__news-info {
    display: block;
    line-height: 30px;
}

.footer-bottom {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-bottom__links {
    display: flex;
    gap: 20px;
}

.footer-bottom__link {
    color: #5c5c5c;
    font-size: 12px;
}

.footer-bottom__par {
    color: #5c5c5c;
    font-size: 12px;
}

.footer__footer-bottom {
    padding: 32px 0 16px 16px;
}

.footer-bottom__paragraphs {
    padding: 0 32px 16px 16px;
}

.container {
    max-width: 1440px;
    width: 100%;
}

.button {
    cursor: pointer;
}

.wrapper__footer {
    flex-shrink: 0;
}

.footer {
    background-color: #f9f9fb;
}

@media (max-width: 1230px){
    .main-content__title {
        line-height: 50px;
    }
}

@media (max-width: 1200px){
    .main__container {
        display: grid;
        gap: 100px;
    }
    .main__local-aside {
        order: 1;
        height: 200px;
        grid-row: 1;
    }
    .main__shared-aside {
        order: 2;
        grid-row: 2;
        border: none;
    }
    .main__main-content {
        order: 3;
        grid-row: 1 / span 3;
    }
}

@media (max-width: 1000px){
    .header__right {
        display: none;
    }
    .header__left {
        display: none;
    }
}

@media (max-width: 850px){ 
    .footer__footer-top {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }
    .footer__main-info {
        grid-column: 1 / -1;
    }
}

@media (max-width: 770px){ 
    .main__shared-aside {
        display: none;
    }
    .main__local-aside {
        display: none;
    }
}

@media (max-width: 650px){ 
    .footer__footer-bottom {
        display: grid;
    }
    .footer-bottom__links {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 400px){ 
    .footer__news {
        grid-column: 1 / -1;
    }
}